* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.header {
    padding: 1rem;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    
}

.header img {
    margin-left: 5rem;
    width: 5rem;
}

.header-top{

    display: flex;
    align-items: center;
}


.header-search{
    display: flex;
    align-items: center;
    padding: 0.2rem;
    margin-left: 5rem;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 7rem;
}
.header-search input {
    width: 30rem;
    height: 2rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
}

.header-search button {
    background-color: #191919;
    color: #fff;
    border: none;
    outline: none;
    height: 2rem;
    border-radius: 10px;
    padding: 0.5rem;
  
    cursor: pointer;
}
.header-bottom {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.header-bottom ul{
    display: flex;
    list-style: none;
    margin-left: 7rem;
    margin-right: 7rem;
    
}

.header-bottom ul li{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
    margin-left: rem;
}

.header-bottom ul li svg{
    text-decoration: none;
    fill: #fff;
    width: 2.5rem;
    height: 2.5rem;
}
.header-bottom ul li p{
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
    font-weight: 500;
}

.header-bottom ul li .desc .text1{
    font-size: 0.8rem;
    color: #fff;
    font-weight: 300;
    margin-left: 0.5rem;
}
.header-bottom ul li .desc .text2 {
    font-size: 0.8rem;
    color: #fff;
    font-weight: 500;
    margin-left: 0.5rem;
}
.header-bottom ul li .desc .cart{
    font-size: 0.8rem;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    color: #000;
    font-weight: 500;
    margin-left: 0.5rem;
    width: 1.5rem;

}

.cep{
    display: flex;
    align-items: center;
    margin-left: 5rem;
    margin-top: 1rem;
    background-color: #191919;
    padding: 0.5rem;
    border: #fff solid 1px;
    border-radius: 10px;
    width: 12rem;
    cursor: pointer;
}

.cep :hover{
    
    
}

.cep svg{
    fill: #fff;
}

.cep p{
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 0.5rem;

}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fundo escuro semitransparente */
    z-index: 1000; /* Coloca o popup acima dos outros elementos */
  }
  
  .popup-content {
    background: #191919;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 60%;
    max-width: 400px;
  }

  .popup-content p{
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
  }

  .popup-content input{
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
  }
  .input{
    display: flex;
    flex-direction: column;
  }
  .input button{
    background-color: #191919;
    color: #fff;
    border: none;
    outline: none;
    height: 2rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
  }
  .input button:hover{
    background-color: #fff;
    color: #191919;
    
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #888;
  }